/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

body {
background-color: #4B6587 ;
color: #F0E5CF;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: #F7F6F2;
  background-color: #C68B59;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
