{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}
    {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename = ('css/styles.css'))}}">
{% endblock %}




{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table ">
          <thead>
                <tr>
                    <th>Cafe Name </th>
                    <th>Location </th>
                    <th>Open </th>
                    <th>Close </th>
                    <th>Coffee </th>
                    <th>Wifi Power </th>
                    <th>Power</th>
                </tr>
          </thead>

  	  </table>

      <p><a href="{{url_for('home')}}">Return to home page</a></p>

    </div>
  </div>
</div>

{% endblock %}
