{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}
    {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename = ('css/styles.css'))}}">
{% endblock %}




{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table ">
          <thead>
                <tr>
                    <th>Cafe Name </th>
                    <th>Location </th>
                    <th>Sockets </th>
                    <th>Toilets </th>
                    <th>Wifi</th>
                    <th>Calls</th>
                    <th>Seats</th>
                    <th>Coffe Price</th>
                </tr>
          </thead>
          <tbody>
          {%for cafe in cafe_data%}
          <tr>
              <th>{{cafe.name}}</th>
              <th>{{cafe.location}}</th>
              <th>{{cafe.has_sockets}}</th>
              <th>{{cafe.has_toilet}}</th>
              <th>{{cafe.has_wifi}}</th>
              <th>{{cafe.can_take_calls}}</th>
              <th>{{cafe.seats}}</th>
              <th>{{cafe.coffee_price}}</th>
          </tr>
          {% endfor %}
          </tbody>

  	  </table>

      <p><a href="{{url_for('home')}}">Return to home page</a></p>

    </div>
  </div>
</div>

{% endblock %}
